.container {
    width: 100vw;
    height: 100vh;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav-cart {
    padding: 20px;
  }
  #nav-row{
      position: fixed;
      top: 20px;
      background-color: white;
      z-index: 5;
  }
 
  .row{
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding:20px
  }
  #nav-row{
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 5;

}
  .col{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }
  .col> h3,p{
      padding: 0;
      margin:0
  }
  h1{
      padding-bottom: 0;
      margin: 0;
  }
  a{
      text-decoration: none;
      padding-top: 0;
      margin:0;
      color: grey;
  }